{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Decline price
{% endblock title %}

{% block container %}

        <div class="categoriesUpper">
            <ul class="hr">
                <li class="categoryLI"><a href="{% url 'fantasy_cat' %}">Fantasy</a></li>
                <li class="categoryLI"><a href="{% url 'detective_cat' %}">Detective</a></li>
                <li class="categoryLI"><a href="{% url 'horror_cat' %}">Horror</a></li>
                <li class="categoryLI"><a href="{% url 'warning_page' %}">Adults</a></li>

                <li class="categoryLI"><a href="">All</a></li>
            </ul>
            <ul class="hr">
                <li class="categoryLI"><a href="{% url 'poetry_cat' %}">Poetry</a></li>
                <li class="categoryLI"><a href="{% url 'drama_cat' %}">Drama</a></li>
                <li class="categoryLI"><a href="{% url 'history_cat' %}">History</a></li>
                <li class="categoryLI"><a href="{% url 'comedy_cat' %}">Comedy</a></li>
                <li class="categoryLI"><a href="{% url 'dec_price' %}">₽↓</a></li>
                <li class="categoryLI"><a href="{% url 'inc_price' %}">₽↑</a></li>
            </ul>
        </div>

      <div class="products">
          {% for product in category %}
              {% if product.category != 'A' %}
                <div class="product">
                    <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                      <a href="{% url 'shop_detail' product.pk %}"><img src="{{ product.image_url }}" alt="Товар 1" class="imgproduct"></a>
                      <p class="price">{{ product.name }}</p>
                        {% csrf_token %}
                      <p class="price">{{ product.price }} ₽</p>
                        <label for="id_quantity">Quantity:</label>
                      <input name="quantity" type="number" value="1" min="1" id="id_quantity" required>
                      <button type="submit">buy</button>
                    </form>
                </div>
              {% endif %}
          {% endfor %}

      </div>
{% endblock container %}