{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Drama
{% endblock title %}

{% block container %}

        <div class="categoriesUpper" id="firstLINE">
            <ul class="hr" >
                <a href="{% url 'fantasy_cat' %}" class="aLIcat"> <li class="categoryLI">Fantasy</li> </a>
                <a href="{% url 'detective_cat' %}" class="aLIcat"> <li class="categoryLI">Detective</li> </a>
                <a href="{% url 'horror_cat' %}" class="aLIcat"> <li class="categoryLI">Horror</li> </a>
                <a href="{% url 'warning_page' %}" class="aLIcat"> <li class="categoryLI">Adults</li> </a>
                <a href="" class="aLIcat"> <li class="categoryLI">All</li> </a>
                <button class="categoryLI" id="actionBtn">More</button>
            </ul>

        </div>

        <div class="categoriesUpper hide" id="secondLINE">
            <ul class="hr" >
                <a href="{% url 'poetry_cat' %}" class="aLIcat"><li class="categoryLI">Poetry</li></a>
                <a href="{% url 'drama_cat' %}" class="aLIcat"><li class="categoryLI">Drama</li></a>
                <a href="{% url 'history_cat' %}" class="aLIcat"><li class="categoryLI">History</li></a>
                <a href="{% url 'comedy_cat' %}" class="aLIcat"><li class="categoryLI">Comedy</li></a>
                <a href="{% url 'dec_price' %}" class="aLIcat"><li class="categoryLI">₽↓</li></a>
                <a href="{% url 'inc_price' %}" class="aLIcat"><li class="categoryLI">₽↑</li></a>
            </ul>
        </div>
        <script src="{% static 'js/hideBUTTONS.js'%}"></script>

      <div class="products">
          {% for product in category %}
            <div class="product">
                <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                  <a href="{% url 'shop_detail' product.pk %}"><img src="{{ product.image_url }}" alt="Товар 1" class="imgproduct"></a>
                  <p class="price">{{ product.name }}</p>
                    {% csrf_token %}
                  <p class="price">{{ product.price }} ₽</p>
                    <label for="id_quantity">Quantity:</label>
                  <input name="quantity" type="number" value="1" min="1" id="id_quantity" required>
                  <button type="submit">buy</button>
                </form>
            </div>
          {% endfor %}

      </div>
{% endblock container %}