{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock title %}

{% block container %}

        <div class="container" id="blogContainer">
            {% for blog in blogs %}
                <div class="article">
                  <h2><a href="{% url 'blog-detail' blog.pk %}"
                         style="text-decoration: none; color: black;">{{ blog.title }}</a></h2>
                  <p>{{ blog.text|safe|truncatechars:150 }}</p>
                  <div class="date">{{ blog.date }}</div>
                </div>
            {% endfor %}
          </div>
{% endblock container %}