{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    History
{% endblock title %}

{% block container %}
<div class="cartbackground">
    <p><h1 style="text-align: center;">History</h1>

    <p style="text-align: center;"><a href="{% url 'cart_view' %}">Back to Cart</a></p>

    <hr class="hr-shadow">

    <div class="row">
        <h3 style="text-align: center;">Data | Amount</h3>
    </div>

    <hr class="hr-shadow">

    <div class="row">
        {% for i in history %}
            {% if i.status == '2_waiting_for_payment' %}
                <h4 style="text-align: center;">{{ i.creation_time }} | {{ i.amount }} ₽</h4>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock container %}