{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    About
{% endblock title %}

{% block container %}
    <div class="aboutBackground">
        <h2 style="text-align: center;">About us</h2>
        
    <p><span style="font-weight: bold;">"top-Books"</span> is Russia's largest chain of bookstores and an online store.</p>

    <p>We don't just sell books, we share our customers' love of reading. We know the feeling when good novels end too quickly,
    there is not enough time on the road to finish the chapter, and the heroine cannot find her love. 
    We know how quickly time flies in the company of a novelty from your favorite author and how much you want to stretch this pleasure.
    </p>

    <p>The stores of the network offer books of various categories:</p>
    <ul>
        <li>Fantasy</li>
        <li>Detective</li>
        <li>Horror</li>
        <li>Adults (18+)</li>
    </ul>

        <h3 style="text-align: center;">Cultural and educational activities</h3>
    <p><span style="font-weight: bold;">"top-Books"</span> stores repeatedly became participants in charity events, 
        both in Moscow and in other cities of Russia: “Books open hearts”, 
        “These books are for children, free of charge from friends”, “Give a book to children”, “Book Bridge".
    </p>

    <p style="text-align: center;">
        <img src="{% static 'images/about-1.png' %}" class="imgAbout">
        <img src="{% static 'images/about-2.png' %}" class="imgAbout">
        <img src="{% static 'images/about-3.png' %}" class="imgAbout">
    </p>
    </div>
{% endblock container %}