{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <title>{% block title %}Shop{% endblock title %}</title>
</head>
<body>
<div class="backgroundForImage" style="background-image: url('{% static 'images/mainwallpaper.jpeg' %}');">
    <div class="headerPosition">
        <header class="vertical-header">
            <div class="logo">
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
            </div>

            <p class="titlesheader">- Browse
                <a href="{% url 'search_page' %}" style="text-decoration: none;">
                    <img style="width: 15px; height: 15px;" src="{% static 'images/magnifier.png'%}">
                </a>

                {% if user.is_authenticated %}
                    <a href="{% url 'favorite_page' %}" style="text-decoration: none;">
                        <img style="width: 15px; height: 15px;" src="{% static 'images/favorites.png'%}">
                    </a>
                {% endif %}
                -
            </p>

            <nav>
            <ul>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'cart_view' %}">Cart</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            </nav>

            <p class="titlesheader">- Contacts -</p>

            <nav>
                <ul>
                    <li><a href="https://t.me/BooksStorePaymentsbot" target="_blank">Telegram bot</a></li>
                </ul>
                {% if user.is_staff %}
                <ul>
                    <li><a href="/admin">Admin tools</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'contact' %}">Email</a></li>
                </ul>
                {% endif %}
            </nav>

            <p class="titlesheader">- Account -</p>

            <nav>
                <select class="selectHeader" onchange="location = this.value;">
                  <option>
                      {% if user.is_authenticated %}
                        {{ user.username }}
                      {% else %}
                        Log in / Register ↓
                      {% endif %}
                  </option>
                    {% if user.is_authenticated %}
                        <option value="{% url 'logout' %}">Log out</option>
                    {% else %}
                      <option value="{% url 'login' %}">Log in</option>
                      <option value="{% url 'register' %}">Register</option>
                    {% endif %}
                </select>
            </nav>
        </header>
    </div>
{% block container %}

{% endblock container %}
</div>
</body>
</html>