<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blog</title>
</head>
<body>
    <div class="headerPosition">
        <header class="vertical-header">
            <div class="logo">
            <img src="logo.png" alt="logo">
            </div>

            <p class="titlesheader">- Browse -</p>

            <nav>
            <ul>
                <li><a href="#">Main</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
            </nav>

            <p class="titlesheader">- Contacts -</p>

            <nav>
                <ul>
                    <li><a href="#">Telegram bot</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </nav>

            <p class="titlesheader">- Account -</p>

            <nav>
                <ul>
                    <li><a href="#">Log in / Registration</a></li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
          </div>
    </div>
</body>
</html>