{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock title %}

{% block container %}

        <div class="container" id="blogContainer">
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
            <div class="article">
              <h2>Заголовок статьи</h2>
              <p>Текст статьи...</p>
              <div class="date">01.01.2021</div>
            </div>
          </div>
{% endblock container %}