{% load static %}

<body style="background-color: lightgrey;">
    <div style="text-align: center;
    margin-left: 500px;
    background-color: white;
    margin-right: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;">

        <h1>Contact</h1>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>

        <p><a href="{% url 'shop' %}">Back</a></p>
        <br>
    </div>
</body>
